:root {
/* Borders */
--card-border-width: 2px;
--card-border-radius: 25px;

/* Shadows */
--card-shadow: md;

/* Spacing */
--card-padding: 1rem;
--card-width: 90%;
--grid-spacing: 1rem;

/* Skeleton Sizes */
--skeleton-small-width: 50px;
--skeleton-medium-width: 80px;
--skeleton-large-width: 100px;
--skeleton-height-sm: 24px;
--skeleton-height-md: 28px;

/* Margin */
--skeleton-margin-bottom: 0.5rem;

/* Colors */
--green500: #38a169; /* same as green.500 */
--red500: #e53e3e; /* same as red.500 */

}
