:root {
  /* Fonts */
  --fontBody: 1rem;
  --fontSmallerMediumHeader: 1.25rem;
  --fontMediumHeader: 1.5rem;
  --fontLargeHeader: 2.5rem;
  --fontXlargeHeader: 5rem;

  /* Colors UPDATE TO NEW COLORS*/
  --primaryColor: #2a2929;
  --secondaryColor: #041e8f;
  --tertiaryColor: #ccd5ff;
  --backgroundColor: #f6f5ee;
  --buttonBlue: #2449e5;
  --focusOutline: #f59a08;
  --examRed: #ff0000;

  /* Spaces/margin/padding */
  --spaceSmall: 0.5rem;
  --spaceMedium: 1rem;
  --spaceLarge: 1.5rem;
  --spaceLarger: 4rem;
  --spaceXlarge: 7rem;

  /* Aligns */
  --alignLeft: left;
  --alignCenter: center;
  --alignRight: right;

  /* Border radius */
  --borderRadius: 0.5rem;

  /* Standard border */
  /* --border: 1px solid #2a2929; */

  /* Border bottom */
  /* --border-bottom: 2px solid #000; */

  /* Font weights */
  --fontWeightRegular: 400;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;

  /* Hover */
  /* --transition: transform 0.3s ease, box-shadow 0.3s ease;
  --transform: translateY(-0.5rem); */

  /* Widths */
  --width: 20rem;

  /* Gap */
  --smallGap: 0.5rem;
  --mediumGap: 1rem;
  --largeGap: 2rem;
}

/* LIGHT MODE */
html[data-theme="light"] {
  --card-bg: var(--chakra-colors-white);
  --input-bg: var(--chakra-colors-gray-100);
  --social-bg: var(--chakra-colors-gray-50);
  --divider-color: var(--chakra-colors-gray-300);
  --text-color: var(--chakra-colors-gray-600);
}

/* DARK MODE */
html[data-theme="dark"] {
  --card-bg: var(--chakra-colors-gray-800);
  --input-bg: var(--chakra-colors-gray-700);
  --social-bg: var(--chakra-colors-gray-700);
  --divider-color: var(--chakra-colors-gray-600);
  --text-color: var(--chakra-colors-gray-400);
}